name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node: [10, 12, 14, 16, 18, 20]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - run: npm install # for node 16+
      - run: npm install -g .
      - run: secure-spreadsheet --password secret < test/input.csv > output.xlsx
      - run: secure-spreadsheet --password secret --input-format xlsx < test/input.xlsx > output.xlsx
