name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node: [24, 22, 20, 18, 16, 14, 12, 10]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - run: npm install # for node 16+
      - run: npm install -g .
      - run: secure-spreadsheet --password secret < test/input.csv > output.xlsx
      - run: secure-spreadsheet --password secret --input-format xlsx < test/input.xlsx > output.xlsx
